/*-----------------------------------------для главной-----------------*/

.header-line-main {
    background-color: white;


    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 3.125vw;

    padding-left: 1.04vw;
    padding-right: 1.04vw;

    font-family: "Inter", sans-serif;
    color: rgba(31, 43, 106, 1);

}

.str-main {
    background-color: rgba(240, 242, 255, 1);
    padding-left: 1.042vw;
    padding-right: 1.042vw;

    font-family: "Inter", sans-serif;
    color: rgba(31, 43, 106, 1);

    padding-top: 2.6vw;

}


/* Стилизация ползунка прокрутки */
::-webkit-scrollbar {
    width: 0.36vw;
    /* Ширина ползунка */
}

::-webkit-scrollbar-track {
    background: #F0F2FF;
    /* Цвет фона трека */
    border-radius: 0.32vh;
}

::-webkit-scrollbar-thumb {
    background: #1F2B6A;
    /* Цвет ползунка */
    border-radius: 0.32vh;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Цвет ползунка при наведении */
}

.str-main h2 {
    padding-top: 1.56vw;
    margin-top: 0vw;

    font-size: 1.25vw;
    font-weight: 500;
}

.blockonmain {

    background-color: white;
    border-radius: 0.26vw;
    box-shadow: 0 0 0.26vw rgb(143 143 143 /35%);

    padding-left: 1.56vw;
}

.mini-map {
    width: 47.9vw;
    height: 28.23;

    background-image: url(../images/map.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;

}

.mini-map img {
    height: 23.54vw;
}

.active-mini-map {

    width: 47.9vw;
    height: 28.23;

    background-image: url(../images/activemap.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;

}

.active-mini-map img {
    height: 23.54vw;
}


.link-app {
    height: 2.08vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1.5625vw;

    border: 0.052vw solid rgba(31, 43, 106, 0.5);
    border-radius: 0.26vw;

    margin-bottom: 0.52vw;
    padding-left: 1.042vw;
    padding-right: 1.042vw;

}

.card {
    background-image: url(../images/card_background.png);
    background-size: 100% 100%;

    height: 13vw;
    width: 22.9vw;
    margin-left: 2.08vw;

    padding-left: 1.56vw;
    padding-right: 1.56vw;

    padding-top: 1.56vw;

    border-radius: 0.26vw;
    box-shadow: 0 0 0.26vw rgb(143 143 143 /35%);

    color: white;
}

.card h3 {
    font-size: 0.83vw;
    font-weight: 500;

    margin: 0vw;
}

.card p {
    font-size: 0.73vw;
    font-weight: 400;

    margin-top: 1.04vw;
}

.news {
    width: 22.9vw;
    height: 20.83vw;

    margin-left: 2.08vw;

    background-color: white;

    border-radius: 0.26vw;
    box-shadow: 0 0 0.26vw rgb(143 143 143 /35%);

}

.news img {
    height: 13vw;
    width: 22.9vw;

    border-radius: 0.26vw 0.26vw 0vw 0vw;

}

.news h3 {

    padding-left: 1.56vw;
    padding-right: 1.56vw;

    margin-top: 1.56vw;
    margin-bottom: 0vw;

    font-size: 0.83vw;
    font-weight: 500;
}

.news p {

    margin-top: 0.52vw;
    padding-left: 1.56vw;
    padding-right: 1.56vw;

    font-size: 0.73vw;
    font-weight: 400;
}

.QA {
    background-color: white;
    width: 47.9vw;

    padding-left: 1.56vw;
    padding-right: 1.56vw;

    border-radius: 0.26vw;
    box-shadow: 0 0 0.26vw rgb(143 143 143 /35%);

    margin-bottom: 1.04vw;

}

.QA h3 {
    font-size: 0.83vw;
    font-weight: 500;
}

.footer {
    background-color: rgba(125, 159, 232, 1);

    padding-left: 1.042vw;
    padding-right: 1.042vw;

    font-family: "Inter", sans-serif;

    height: 10.3vw;

}

.footer img {
    width: 0.99vw;
    height: 0.99vw;
}

.footer h3 {
    font-size: 1.25vw;
    font-weight: 500;
    color: white;

    margin-top: 3.65vw;
}

.footer a {
    font-size: 0.83vw;
    font-weight: 400;
    color: white;

    text-decoration: none;
}

.footer p {
    font-size: 0.83vw;
    font-weight: 400;
    color: white;
}


/*------Для заявления------*/
.header-line-app {
    background-color: white;


    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 3.125vw;

    padding-left: 1.04vw;
    padding-right: 1.04vw;

    font-family: "Inter", sans-serif;
    color: rgba(31, 43, 106, 1);



}

.str-app {
    background-color: rgba(240, 242, 255, 1);
    padding-left: 1.042vw;
    padding-right: 1.042vw;

    font-family: "Inter", sans-serif;
    color: rgba(31, 43, 106, 1);

    padding-top: 2.6vw;

}

.app-card {
    background-color: white;

    width: 31.25vw;
    height: 31.77vw;

    border-radius: 0.26vw;
    box-shadow: 0 0 0.26vw rgb(143 143 143 /35%);

    padding-left: 1.56vw;
    padding-right: 1.56vw;

    margin-top: 2.6vw;
    margin-bottom: 2.6vw;


}

.app-card img {
    width: 100%;
}

.app-card h2 {
    font-size: 1.25vw;
    font-weight: 400;
}

.app-card p {
    font-size: 0.73vw;
    font-weight: 400;
}

.app-card button {
    float: right;
}

.burger-menu {
    width: 13.073vw;
    height: 11.35vw;

    background-color: white;

    top: 4vw;
    right: 1.5vw;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 0.73vw;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: rgba(31, 43, 106, 1);

    padding-left: 1.04vw;
    padding-bottom: 1.04vw;

    border-radius: 0.26vw;
    box-shadow: 0 0 0.26vw rgb(143 143 143 /35%);

}

.burger-menu a {
    text-decoration: none;
}


.menu {
    display: flex;
    justify-content: center;
    text-align: center;
}

.menu-item {
    height: 2.08vw;

    color: rgb(31 43 106 /50%);
    background-color: #FFFF;
    text-decoration: none;

    margin-right: 1.04vw;
    border: 0.078vw solid #F0F2FF;
    border-radius: 0.26vw;
    padding: 0.74vh 0.74vh;
    padding-left: 1.04vw;
    padding-right: 1.04vw;

    font-weight: 400;
    font-size: 0.73vw;
    font-family: Inter;
    /*Доступная замена*/
}

.report-input::placeholder {
    color: rgb(31 43 106 /50%);
    margin-top: 1vw;
}


.report-input {
    margin-top: 3px;
    border: 0.052vw solid rgba(240, 242, 255, 1);
    border-radius: 0.26vw;
    outline: none;
    width: 100%;
    box-sizing: border-box;


    color: rgba(31, 43, 106, 0.5);
    font-size: 0.73vw;

    height: 2.08vw;
    padding-left: 1.04vw;
}

/* Скрываем оригинальный чекбокс */
input[type="checkbox"] {
    display: none;
    order: 1;
}

/* Создаем новый квадратный чекбокс */
input[type="checkbox"]+label {
    position: relative;
    padding-left: 1.56vw;
    /* Пространство для нового чекбокса */
    cursor: pointer;
}

input[type="checkbox"]+label::before {
    content: "";
    background-color: #F0F2FF;
    position: absolute;
    left: 0;
    top: 0;
    width: 1.04vw;
    height: 1.04vw;
    border: 0.12vw solid rgba(31, 43, 106, 0.5);
    border-radius: 0.16vw;
}

/* Стилизуем чекбокс, когда он отмечен*/
input[type="checkbox"]:checked+label::before {
    background-image: url(../images/checked.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.73vw 0.73vw;
}


.checkbox label {
    order: 2;
    margin-left: 0.52vw;
    width: 19.53vw;
}

.checkbox {

    color: rgb(31 43 106 /40%);
    margin: 0.83vw 0.83vw;
}

/*Для нового поиска*/

.search-container {
    display: flex;
    justify-content: center;
    color: rgb(31 43 106 /40%);

    margin: 0.83vw 0vw;

    /*width: 60.42vw;*/


}

.search-box {
    position: relative;
    margin-top: 0.52vw;
}

/* .StrokaPoisk{
    margin-top: 3px;
    border: 0.052vw solid rgba(240, 242, 255, 1);
    border-radius: 0.26vw;
} */

.selected-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.selected-tags .tag {
    background-color: #e0e0e0;
    border-radius: 3px;
    padding: 4px 8px;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: default;
}

.selected-tags .tag::after {
    content: '×';
    margin-left: 5px;
    cursor: pointer;
}

.search-input {
    margin-top: 3px;
    border: 0.052vw solid rgba(240, 242, 255, 1);
    border-radius: 0.26vw;
    outline: none;
    width: 100%;
    box-sizing: border-box;


    color: rgba(31, 43, 106, 0.5);
    font-size: 0.73vw;

    height: 2.08vw;
    padding-left: 1.04vw;
}

.dropdown {
    /*display: block;*/
    /*position: absolute;*/
    top: 100%;
    left: 0;
    width: 100%;
    border-top: none;
    background-color: #fff;
    z-index: 1000;

    overflow-y: auto;
    overflow-x: hidden;
    width: 23.4vw;
    height: 9.9vw;

    border: 0.052vw solid rgba(240, 242, 255, 1);
    border-radius: 0.26vw;

    margin-top: 0.46vw;
}

.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown ul li {
    padding: 8px;
    cursor: pointer;
}

.dropdown ul li:hover {
    background-color: rgba(240, 242, 255, 1);
}

.no-results {
    padding: 8px;
    color: #888;
}

/* Стилизация ползунка прокрутки */
.dropdown::-webkit-scrollbar {
    width: 0.36vw;
    /* Ширина ползунка */
}

.dropdown::-webkit-scrollbar-track {
    background: #F0F2FF;
    /* Цвет фона трека */
    border-radius: 0.32vh;
}

.dropdown::-webkit-scrollbar-thumb {
    background: #1F2B6A;
    /* Цвет ползунка */
    border-radius: 0.32vh;
}

.dropdown::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Цвет ползунка при наведении */
}

/* Стили для подсветки совпадений */
.highlight {
    background-color: rgba(240, 242, 255, 1);
    border-radius: 0.26vw;
}

.listContainer {
    padding: 0;
}

.reg-container {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-around;

    height: 6.3vw;
    width: 60.42vw;
    margin-bottom: 1.04vw;

    border-radius: 0.26vw;
    box-shadow: 0 0 0.26vw rgb(143 143 143 /35%);
}


/* Стиль для модального окна */
.modal {
    display: none;
    /* Изначально окно скрыто */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Полупрозрачный черный фон */
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow: hidden;
    /* Отключаем скроллинг */


}

.modal-content {
    background-color: white;
    color: rgba(31, 43, 106, 1);
    font-size: 1.25vw;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    width: 44.64vw;

    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content button {


    display: flex;
    background-color: rgba(13, 76, 211, 1);
    width: 42.55vw;
    height: 3.125vw;
    color: white;
    border-radius: 0.26vw;
    box-shadow: 0 0 0.26vw rgb(143 143 143 / 35%);
    align-items: center;
    justify-content: center;
}

.modal-content a {
    display: flex;
    text-decoration: none;
    color: white;
    align-items: center;
}