<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer" />
    <!--Этот элемент определяет параметры отображения на мобильных устройствах width=device-width указывает, что ширина страницы должна соответствовать ширине устройства, а initial-scale=1.0 задает начальный масштаб отображения-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <title>Main</title>
    <link rel="stylesheet" href="../static/css/style2.css"> <!--ИЗМЕНЕНО-->
    <script type="text/javascript" src="../static/js/script.js"></script> <!--ИЗМЕНЕНО-->
</head>

<body style="margin:0;">


    <div class="header-line-app"> <!--Шапка с менюшкой -->
        <p style="font-size: 1.04vw;">Портал российских ИТ-решений</p>
        <button class="menu-item" class="filter" id="myButton-burger-menu" onclick="myFunctionForMyButtonMenu()"
            style=" display: flex; margin-left: 22vw; align-items: center; border-color: rgba(31, 43, 106, 0.5); color: rgba(31, 43, 106, 1); margin-right: 0vw;">
            Меню
            <img style="width: 1.52vw; margin-left: 2.4vw;" src="../static/images/menu.svg" alt="Кнопка_фильтр"
                class="menu-icon" />
        </button>
    </div>

    <div id="burger-menu" class="burger-menu" style="display: none;">
        <p style="font-size: 0.83vw;">Петров А.В</p> <!--Динамические данные-->
        <a href="/auth" class="menu-burger-item">Главная</a>
        <a href="/map" class="menu-burger-item">Портал</a>
        <a href="/auth#news" class="menu-burger-item">Новости</a>
        <a href="/auth#help" class="menu-burger-item">Помощь</a>
        <a href="/application" class="menu-burger-item" style="color: rgba(31, 43, 106, 0.5);">Заявления</a>
        <a href="/region-contacts" class="menu-burger-item">Региональные представители</a>
        <a href="/" class="menu-burger-item" style="color: red;">Выйти</a>
    </div>

    <!-- Модальное окно -->
    <div id="modalsend" class="modal" onclick="closeModalsend(event)">
        <div class="modal-content">
            <p>Спасибо! <br> Заявление успешно отправлено</p>
            <form action="/auth">
                <button>
                        На главную
                </button>
            </form>
        </div>
    </div>

    <div class="str-app"> <!--Целиком страница-->
        <h1 style="font-size: 2.5vw; font-weight: 400;     margin-bottom: 0; margin-top: 0; margin-left: 19.8vw;">Заявление о внесении изменений компании</h1>
        <div style="display: flex; justify-content: center;">
            <div class="app-card" style="width: 60.42vw; display: flex;">
                <div>
                    <h2 style="font-weight: 500;">Заполните форму</h2>
                    <p>Мы свяжемся с вами в ближайшее время </p>
                    <input type="text" id="" class="report-input" placeholder="Наименование компании">
                    <input type="text" id="" class="report-input" style="height: 11.15vw;" placeholder="Опишите какую информацию хотите изменить">
                    <input type="text" id="" class="report-input" placeholder="Оставьте номер телефона для связи">
                    <div class="checkbox">
                        <div class="">
                            <input type="checkbox" id="agree" name="agree" checked />
                            <label for="agree">Я согласен(на) с политикой конфиденциальности и даю согласие на
                                обработку персональных данных</label>
                        </div>
                    </div>
                    <div style="display: flex; justify-content: center;">
                        <button onclick="openModalsend()">Отправить</button>
                    </div>
                </div>
                <img style="width: 30.16vw;" src="../static/images/image4app.png">
            </div>
        </div>
    </div>
    <div class="footer" style="display: flex; justify-content: space-between; align-items: center;">
        <div>
            <h3>Контакты</h3>
            <div style="display: flex;">
                <p>qqq@gmailcom</p>
                <p style="margin-left: 1.875vw;">+7 999 999-99-99</p>
                <p style="margin-left: 1.875vw;">+7 999 999-99-99</p>
            </div>
        </div>
        <div>
            <h3>Навигация</h3>
            <div style="display: flex;">
                <a href="/auth">Главная</a>
                <a href="/map" style="margin-left: 1.875vw;">Портал</a>
                <a href="/auth#news" style="margin-left: 1.875vw;">Новости</a>
                <a href="/auth#help" style="margin-left: 1.875vw;">Помощь</a>
                <a href="/application" style="margin-left: 1.875vw;">Заявления</a>
                <a href="/region-contacts" style="margin-left: 1.875vw;">Региональные представители</a>
            </div>
        </div>
        <div>
            <p style="margin-top: 2.66vw;">Все права защищены</p>
            <p><a href="/privacy-policy">Политика конфиденциальности</a></p>
            <div style="display: flex; align-items: center;">
                <p style="margin: 0vw; margin-right: 0.26vw; cursor: default;">Портал разработан Kollab.pro</p>
                <img src="../static/images/kollab.png">
            </div>
        </div>

    </div>
</body>