<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer" />
    <!--Этот элемент определяет параметры отображения на мобильных устройствах width=device-width указывает, что ширина страницы должна соответствовать ширине устройства, а initial-scale=1.0 задает начальный масштаб отображения-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <title>Main</title>
    <link rel="stylesheet" href="../static/css/style2.css"> <!--ИЗМЕНЕНО-->
    <script type="text/javascript" src="../static/js/script.js"></script> <!--ИЗМЕНЕНО-->
</head>

<body style="margin:0;">


    <div class="header-line-app"> <!--Шапка с менюшкой -->
        <p style="font-size: 1.04vw;">Портал российских ИТ-решений</p>
        <button class="menu-item" class="filter" id="myButton-burger-menu" onclick="myFunctionForMyButtonMenu()"
            style=" display: flex; margin-left: 22vw; align-items: center; border-color: rgba(31, 43, 106, 0.5); color: rgba(31, 43, 106, 1); margin-right: 0vw;">
            Меню
            <img style="width: 1.52vw; margin-left: 2.4vw;" src="../static/images/menu.svg" alt="Кнопка_фильтр"
                class="menu-icon" />
        </button>
    </div>

    <div id="burger-menu" class="burger-menu" style="display: none;">
        <p style="font-size: 0.83vw;">Петров А.В</p> <!--Динамические данные-->
        <a href="/auth" class="menu-burger-item">Главная</a>
        <a href="/map" class="menu-burger-item">Портал</a>
        <a href="/auth#news" class="menu-burger-item">Новости</a>
        <a href="/auth#help" class="menu-burger-item">Помощь</a>
        <a href="/application" class="menu-burger-item" style="color: rgba(31, 43, 106, 0.5);">Заявления</a>
        <a href="" class="menu-burger-item">Региональные представители</a>
        <a href="#" class="menu-burger-item" style="color: red;">Выйти</a>
    </div>

    <div class="str-app"> <!--Целиком страница-->
        <h1 style="font-size: 2.5vw; font-weight: 400;     margin-bottom: 0; margin-top: 0; margin-left: 19.8vw;">Контакты региональных представителей</h1>
        
        <div class="search-container">
            <div class="search-box">
                <div id="selected-tags-3" class="selected-tags"></div>
                <div class="StrokaPoisk" id="clickPAKR" onclick="clickPAKR();">
                    <input type="text" id="search-input-3" class = "search-input" placeholder="Вся Россия">
                </div>
                <div class="dropdown" id ="dropdown-3" style="display: none;">
                    <ul id="dropdown-list-3">
                        <!-- Список будет добавлен динамически -->
                    </ul>
                    <div id="no-results-3" class="no-results" style="display: none;">
                        По вашему запросу ничего не найдено.
                    </div>
                </div>
            </div>
        </div>
        
        <div id="regions-container" style="display: flex; justify-content: center;flex-wrap: wrap;">
            <!-- <div class="reg-container">
                <img src="../static/images/emblems/AD.png" style="width: 2.6vw; height: 2.6vw;" >
                <h2>Республика Адыгея</h2>
                <div>
                    <h3>Контакты</h3>
                    <div style="display: flex;">
                        <p>qqq@gmailcom</p>
                        <p style="margin-left: 1.875vw;">+7 999 999-99-99</p>
                        <p style="margin-left: 1.875vw;">+7 999 999-99-99</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="footer" style="display: flex; justify-content: space-between; align-items: center;">
        <div>
            <h3>Контакты</h3>
            <div style="display: flex;">
                <p>qqq@gmailcom</p>
                <p style="margin-left: 1.875vw;">+7 999 999-99-99</p>
                <p style="margin-left: 1.875vw;">+7 999 999-99-99</p>
            </div>
        </div>
        <div>
            <h3>Навигация</h3>
            <div style="display: flex;">
                <a href="/auth">Главная</a>
                <a href="/map" style="margin-left: 1.875vw;">Портал</a>
                <a href="/auth#news" style="margin-left: 1.875vw;">Новости</a>
                <a href="/auth#help" style="margin-left: 1.875vw;">Помощь</a>
                <a href="" style="margin-left: 1.875vw;">Заявления</a>
                <a href="/region-contacts" style="margin-left: 1.875vw;">Региональные представители</a>
            </div>
        </div>
        <div>
            <p style="margin-top: 2.66vw;">Все права защищены</p>
            <p>Политика конфиденциальности</p>
            <div style="display: flex; align-items: center;">
                <p style="margin: 0vw; margin-right: 0.26vw; cursor: default;">Портал разработан Kollab.pro</p>
                <img src="../static/images/kollab.png">
            </div>
        </div>

    </div>
</body>